
/* General dropdown styles */       

//ensure that input styles are consistent
input,
button{
    font-family: inherit;
    font-size: 100%;
}

.wms-c-title{
    padding-left: 1em;
    box-sizing: border-box;
}

.wms-row{
    padding: 0;
}

.wms-c-keyword{
    padding: .5em;
    box-sizing: border-box;
    
        &:focus{
            box-shadow: inset 0px 0px 2px $forty-midnight;
            
        }

    }
    
.wms-search{
    position: relative;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
}


.wms-dropdown{
    background: white;
    transition: background-color 0.5s ease;
    justify-content: center;
    display: flex;
    flex-direction: column;  
    cursor: pointer;
    text-align: left;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    
    &:hover,
    &:focus{
        background-color: $forty-midnight;
    }
    
    
    
    
    .wms-c-selected {
        flex-grow: 1;
        flex-shrink: 1;
        height: 100%;
        padding: 1em;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        
    }
    
    .wms-arrow__toggle{
        display: inline-block;
        transform: rotate(90deg);
        margin-left: auto;
        transition: $main-transition;
        transform-origin: center;
        transform-style: preserve-3D;    
        padding: 0 .5em 0 .3em;
        box-sizing: border-box;
        height: 100%;                   
    }    
    
    // //sample items
    // .wms-items{
    //     position: relative;
    //     width: 100%;
    //     margin: 0;
    //     box-sizing: border-box;
    // }
    

    /* DT styles for sliding doors */    
    .wms-prompt{
        display:inline-block; 
        text-decoration: none;
        padding-right: .5em;
        
        a{
            text-decoration: none;
            
            span{
                cursor:pointer; 
                display:block; 
                padding:5px;
            }            
        } 

    
    }
    
    /* UL styles */    
    .wms-list-options{
        background: $super-light; 
        display:none;
        list-style:none; 
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 1em;
        box-sizing: border-box;
        z-index: 100;
        box-shadow: 0px 7px 7px -6px black;
        top: 100%;
        
        //make label display block
        label.wms-select_attr {
            display: block;
            cursor: pointer;
            padding: .2em;
            box-sizing: border-box;
            transition: $main-transition;
            
            //select all inputs as children of label and set to none
            & > input[type=radio] {
                display: none;
            }  
            
            &:hover,
            &:focus{
                color: $call-to-action;
                background: $light-hover;
            }
            
            
        }
        

    }
    
    span.value{
        display: none;
    }


}

.wms-submit{
    width: 100%;
    height: 100%;
    padding: 1em;
    transition: all 0.3s ease;
    background: $super-light;
    &:hover,
    &:focus{
        background: $call-to-action;
        color: $white;
    }
}

.wms-select_attr {
    padding: .2em 0 .2em 0;

}

.wms-search-button{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.toggle-up {
  transform: rotate(-90deg) !important;
}